<div class="container">
    <table>
        <tr>
          <th>Event</th>
          <th>Sub-events</th>
          <th>Status</th>
          <th>Logs</th>
        </tr>
        <!-- <div *ngFor="let event of events"> -->
        <tr  *ngFor="let event of events">
          <td>{{event.event_desc}}</td>
          <td>{{event.event_cmd}}</td>
          <td>{{event.event_status}}</td>
          <td>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-sm" (click)="showModal(contentmodal, event)" >Show Log</button>
   
          
   
          
          </td>
        </tr>
       
   
      </table>
   
      <!-- Modal -->
      <!-- <div class="modal fade" id="contentmodal" role="dialog">
       <div class="modal-dialog"> -->
       <ng-template #contentmodal let-modal>
         <!-- Modal content-->
         <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title">Logs:</h4>
             <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
             
           </div>
           <div class="modal-body" style="color:black;">            
           <input type="text" id="command">
            <p> <label type ="text" style="color:green;font-family:Terminal;" id="cmd"></label>
             <label style="font-family: monospace;" id="log"></label></p>
             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
           </div>
       </ng-template>
         <!-- </div>
         
       </div> -->
     
   
      <br/>
   
      <button class="btn btn-primary refreshBtn" (click)="onStart()">Refresh</button>
</div>
